html
{
  background: #fff;
}
button
{
  margin: 0 0.25rem 0.25rem;
}
.grant-info
{
  border: 1px solid gray;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
}
.grant-info .btn-danger
{
  position: absolute;
  right: 10px;
  top: 10px;
}
